// credits
// headshot: https://unsplash.com/search/photos/headshot?photo=1nizzZ-SFw4

// site colours
$orange: #f15c25;
$twitter-blue: rgb(29,161,242);

// Import custom fonts from Google
@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

// Font stuff
$font-family-sans-serif:    'Lato', sans-serif;
$font-family-base:          $font-family-sans-serif;
$headings-font-weight:      700;

// card stuff
$card-inner-border-radius:  .1rem;
$card-border-width:         0;

// link stuff
$link-color:                    inherit;
$link-hover-color:              inherit;

// border stuff
$border-radius-lg:          0;

// horizontal rule stuff
$hr-border-width:           2px;
$hr-border-color:           #fff;

// modal stuff
$modal-md:                  90vw;
