// credits
// headshot: https://unsplash.com/search/photos/headshot?photo=1nizzZ-SFw4

// site colours
$orange: #FF6138;
$primary: $orange;
$twitter-blue: rgb(29,161,242);

// Import custom fonts from Google
@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

// Font stuff
$font-family-sans-serif:    'Lato', sans-serif;
$font-family-base:          $font-family-sans-serif;
$headings-font-weight:      700;

// card stuff
$card-border-width:         0;
$card-border-radius:        4px;


// link stuff
$link-color:                inherit;
$link-hover-color:          inherit;

// border stuff
$border-radius-lg:          0;

// horizontal rule stuff
$hr-border-width:           2px;
$hr-border-color:           $orange;

// modal stuff
// $modal-md:                  90vw;
