@import 'theme';
@import 'bootstrap/bootstrap';

// your styles here (note that you can use Bootstrap variables from _variables.scss in here too)
@mixin linearGradient($col1, $col2){
  background: $col1; /* Old browsers */
  background: linear-gradient(to bottom right,  $col1 0%,$col2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin profileHover($col1, $col2) {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include linearGradient($col1, $col2);
  opacity: 0;
  // transition: ease-in .3s;  

  &:hover {
    opacity: .3;
  }
}

// hero
.hero {
  position: relative;
  background-color: #000;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    height: 25em;
  }

  hr {
    border-color: #fff;
  }

  &__header {
    font-size: 2.5em;
    text-align: center;

    @include media-breakpoint-up(sm) {
      font-size: $display3-size;
    }

    @include media-breakpoint-up(md) {
      font-size: $display1-size;
      text-align: left;
    }
  }

  &__subheader {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }

  &__text {
    color: #fff;
    filter: none;
    opacity: 1;
    transition: ease-out .25s;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url('../img/brooke-cagle-65608.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    opacity: .8;
    filter: blur(10px);
    transition: ease-out .25s;
  }

  &:hover {
    &::before {
      filter: none;
      opacity: .8;
      transition: ease-in .3s;
    }

    .hero__text {
      filter: blur(5px);
      opacity: .8;
      transition: ease-in .3s;
    }
  }
}

// about
.socialMedia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
  margin: 0;

  color: #333;

  list-style-type: none;
  
  filter: none;
  opacity: 1;
  transition: ease-out .25s;

  &:hover &__link {
    filter: blur(2px);
    opacity: .8;
    transition: ease-in .3s;

    &:hover {
      filter: none;
      opacity: 1;
    }
  }

  &__link {
    flex: 0 0 25%;
    font-size: 2.5em;
    text-align: center;

    @include media-breakpoint-between(md, lg) {
      flex: 0 0 auto;
    }
  }
}

// statistics
.stats {
  color: #fff;
  background-color: #333;
}

.legend {
  padding: 0;
  margin: 0;

  list-style-type: none;

  color: white;

  font-weight: bold;

  @include media-breakpoint-up(sm) {
    display: flex;
  }

  li {
    flex: 0 0 25%;
    padding: .5em 0;
    text-align: center;
  }

}

.charts {
  filter: none;
  opacity: 1;
  transition: ease-out .25s;

  &:hover .chart {
      filter: blur(2px);
      opacity: .8;
      transition: ease-in .3s;

      &:hover {
        filter: none;
        opacity: 1;
      }
  }

  .chart {
    width: 100%;

    filter: none;
    opacity: 1;
    transition: ease-out .25s;
  
    &__title {
      fill: white;
      font-size: 3em;

      @include media-breakpoint-up(lg) {
        font-size: 3em;
      }
    }

    &__label {
      fill: #fff;
      font-weight: bold;
      pointer-events: none;
    }
  }
}

// projects list
.projects {
  .card {
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 18em;
      margin: ($card-img-overlay-padding/2) $card-img-overlay-padding;

      background-color: rgba(0,0,0,0);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: #fff;

      overflow: hidden;
      transition: ease-out .25s;

      &:hover .card-label {
        opacity: .9;
      }  

      @include media-breakpoint-up(sm) {
        height: 25em;
      }  
    }

    &-label {
      position: relative;
      
      flex: 0 0 100%;

      background-color: rgba($orange,1);

      text-align: center;

      opacity: 0;
      transition: ease-out .25s;
      
      hr {
        border-color: #fff;
      }

      span {
        width: 100%;

        &.show {
          animation: .8s slide-up;
        }
      }
    }

    .project-date {
      font-style: italic;
      font-size: .8em;
    }
  }

  &:hover .card {
    filter: blur(3px);
    transition: ease-in .3s;

    &:hover {
      filter: none;
      opacity: 1;
    }
  }
}

// modal
.modal__text {
  padding: 0 3.5em;
}

.swiper-button-next,
.swiper-button-prev {
  filter: hue-rotate(150deg);  
}

// footer
footer {
  display: flex;
  align-items : center;
  height: 4em;
  color: #fff;
  background-color: #333;
  text-align: center;
}

// animations
@keyframes slide-up {
  from {
    top: 100%;
  }

  to {
    top: 0%;
  }
}